<h1>New Event</h1>

<%= form_tag "/events", method: :post do %>
  <h4>Type of Emergency:</h4><select name="emergency_id">
    <% @emergencies.each do |emergency| %>
      <option value="<%= emergency.id %>"><%= emergency.name %></option>
    <% end %>
  </select>
  <h4>Name:</h4><input type="text" name="name" value="">
  <h4>latitude:</h4><input type="text" name="lat" value="">
  <h4>longitude:</h4><input type="text" name="long" value="">
  <h4>status:</h4><input type="text" name="status" value="">
<% end %>
