/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";


#googlemaps {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.menu {
  position: relative;
}

.dropdown-menu {
  padding: 10px 10px 10px 10px;
}

.menu-toggle {
  float: left;
  margin-right: 15px;
  padding: 9px 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 5px;
  background-color: white;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.menu-toggle .icon-bar+.icon-bar {
  margin-top: 4px;
}

.icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background-color: #757575;
}


#flash-message {
  margin-top: 10px;
  margin-left: 60px;
  width: 200px;
  position: relative;
}